*.mat
*.pdf
matlab_to_mineos/*
*_pll/
*.out0
*.out1
*.out2
*.in
*.cmd
*.mod
*.rtz
*.log
*.mode
*.model
*.q
*.asc
*.eig
*.strip
*.run_kernels
*.run_mineos
*cvfrechet*s
test_detailed_balance*
defunct*
*.m~
NWUS/*
AK/*
Krueger_RF/*
NWTA/*
test_*
GENERAL/old_processing*
US/*
SYNTHETICS/*
